{
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "tabWidth": 2,
    "printWidth": 80,
    "endOfLine": "lf",
    "singleQuote": false,
    "trailingComma": "es5",
    "editorconfig": false,
    "jsxSingleQuote": false
}